@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 150 100% 98%;
    --foreground: 150 5% 10%;
    --card: 150 50% 98%;
    --card-foreground: 150 5% 15%;
    --popover: 150 100% 98%;
    --popover-foreground: 150 100% 10%;
    --primary: 150 59.8% 33.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 150 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 112 30% 95%;
    --muted-foreground: 150 5% 40%;
    --accent: 112 30% 90%;
    --accent-foreground: 150 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 150 5% 98%;
    --border: 150 30% 82%;
    --input: 150 30% 50%;
    --ring: 150 59.8% 33.1%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 150 50% 10%;
    --foreground: 150 5% 98%;
    --card: 150 50% 10%;
    --card-foreground: 150 5% 98%;
    --popover: 150 50% 5%;
    --popover-foreground: 150 5% 98%;
    --primary: 150 59.8% 33.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 150 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 112 30% 25%;
    --muted-foreground: 150 5% 65%;
    --accent: 112 30% 25%;
    --accent-foreground: 150 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 150 5% 98%;
    --border: 150 30% 50%;
    --input: 150 30% 50%;
    --ring: 150 59.8% 33.1%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
